nav {
	width: 100%;
	#logo {
		float: left;
		img {
			width: 75px;
			height: 75px;
			object-fit: contain;
		}
		@include media-query($on-palm) {
			img {
				height: 80px;
				width: 80px;
				padding: 0;
			}
		}
	}
	&:hover {
		@include media-query($on-palm) {
			#logo {
				img {
					width: 80px;
					height: 80px;
				}
			}
		}
	}
}
.page-content {
	.block {
		padding-top: 100px;
		border: 1px solid #CCC;
		padding: 15px;
		background-color: #FAFAFA;
		margin-bottom: 20px;
	}
}

.wrapper {
	.columnleft {
		float: left;
	}
	.columnright {
		float: right;
	}
	.columnleft, .columnright {
		display: inline-block;
		width: 49%;

		@include media-query($on-palm) {
			width: 100%;
			display: block;
		}
	}
}
